@keyframes scroll {
    0% {
        margin-left: -25%;
    }

    50% {
        margin-left: 28%;
    }

    100% {
        margin-left: -95%;
    }
}

body {
    height: 2200vh;
    background-color: white;
    /* padding:10px; */
}
.mainNav {
    border: solid black;
    border-width: .2px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-image:url('/media/splatter.png');
    background-size:cover;

}
.smTab{
    font-size:12px;
}
.smNav {
    border: solid black;
    height: 42px;
    align-items: center;
    border-width: .2px;
    display: flex;
    justify-content: space-evenly;

}
.mainVid {
    border: double black;
    border-width: 10px;
    /* margin-top:4em; */
}
.logo {
    border: solid black;
    height: 50px;
    width: 80px;
    /* margin-left:5%; */

}
.mainSplash {
    width: 100%;
}
.selectBtn {
    font-size: 12px;
    font-family: abril fatface;
    padding-left: 10px;
    padding-right: 10px;
}
.scrollMsg {
    /* animation: scroll 20s ease-in-out infinite; */
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.motto {
    font-family: abril fatface;
    color: red;
    text-align: center;
    margin-top: 15px;
    font-size:15px;
}

.motto2 {
    font-family: abril fatface;
    color: green;
    text-align: center;
    margin-top: 15px;
    font-size:15px;
}

.motto3 {
    font-family: abril fatface;
    color: black;
    text-align: center;
    margin-top: 15px;
    font-size:15px;
}

.exposeTitle {
    font-family: cinzel;
    text-align: center;
    font-size: 15px;
    color: black;
}

.bafIntro {
    width: 50%;
    margin: 1em;
    text-align: right;
}

.mantra {
    width: 100%;
    margin: 1em;
}

.mt1 {
    font-family: Abril fatface;
    /* animation: bounce 1s ease-out infinite; */
    font-size: 47px;
    text-align: center;
}

.left {
    /* border:solid grey; */
    width: 40%;
    padding: 15px;
}

.right {
    /* border:solid #333C3F; */
    width: 50%;

}
.joinus{
    width:100%;
}
.joinContainer {
    border: solid black;
    padding: .2em;
    /* margin:1em; */
    display: flex;
    justify-content: space-between;
    /* height: 42vh; */
    background-image:url('/media/splatter.png');
background-size:cover;
}

.handlogo {
    height: 100%;
    width: 100%;
}

.nput {
    width: 80%;
    text-align: center;
    font-family: cinzel;
    font-size: 8px;
    border-radius: 12px;
    border-width: .2px;
    margin-left:15px;
}

.aboutVid {
    width: 100%;
    height: 100%;
}

.pictuh {
    width: 100%;
}

.mainLook {
    width: 80%;
    border:solid black;
    margin:1em;
}
.recruit{
    width:100%;

}
.sectionContainer {
    border:solid grey;
    padding: 2em;
    background-image: url('/media/background.png');
    background-size: contain;
    color: black;
    /* margin:1em; */
}
button{
    font-family: cinzel;
}
button:hover{
    font-family: cinzel;
    background-color: green;
    color:white;
}

.sectionContainer2 {
    /* border:solid green; */
    /* padding: 2em; */
    background-size: cover;
    color: black;
    /* margin:1em; */
    background-image: url('/media/background.png');
}

.majorTitle {
    font-family: abril fatface;
    font-size: 35px;
}

.textContainer {
    width: 100%;
    /* border:solid black; */
    height: 100%;
    /* text-align: center; */


    font-family: cinzel;
}

.arkeePic {
    opacity: .3;
    width: 100%;

}

.jtContainer {
    border: solid black;
    /* height:62vh; */
    /* padding:3em; */
    background-image: url('https://papers.co/wallpaper/papers.co-vs23-paint-abstract-background-htc-dark-red-green-pattern-6-wallpaper.jpg');
    background-size: cover;
    display: flex;

}

.jtBanner {
    width: 50%;
    height: 80%;
    margin-top: 15%;
}

.jtVid {
    border: solid yellow;
    /* margin-left:10%; */
    border-radius: 12px;

}

.lilkemetInfo {
    padding: 2em;
    font-size: 12px;
    text-align:center;
}

.arial-kemet {
    width:100%;
}

.tse {
    /* border:solid black; */
    width: 100%;
    height: 450px;
}
.readMore{
    font-size:15px;

}
.readMore:hover {
    background-color: green;
    color: white;
}

.believe {
    width: 100%;
    height:150px;
}

.topScreen {
    border: solid black;
    width: 60%;
    height:300px;
}

.topDescrip {
    /* border:solid blue; */
    width: 30%;
}

.topContainer {
    display: flex;
    /* border: solid black; */
    background-image: url('/arkeeEye/media/background.png');
    background-size: contain;
    justify-content: space-around;
}

.day {
    /* border: solid red; */
    font-family: cinzel;
    font-size:12px;
    margin-top:6%;
    text-align: center;
}

.day:hover {
   /* border: solid red; */
   font-family: cinzel;
   font-size:14px;
   margin-top:6%;
   text-align: center;
    -webkit-box-shadow: 2px 4px 23px 3px #741B0C;
    box-shadow: 2px 4px 23px 3px #741B0C;
}

.eventLetter {
    border: solid black;
    display: flex;
margin:1em;
    justify-content: space-between;
    font-family: cinzel;
    font-size:15px;
}

.eventName {
    width: 50%;
    font-size:15px;
    margin:10px;
}

.eDesc {
    /* border:solid black; */
    font-size:12px;
    width:40%;
}
.posterLook{
    width:100%;
    height:100%;
    
}
.seperator{
    /* border:solid red; */
    /* background-image:url('/media/splatter.png'); */
    background-size:cover;
    /* height:150px; */
    text-align:right;
    
    
}
.upTop{
    margin-top:10%;
    font-family: serif;
    font-size:15px;
    /* opacity:.3; */
}
.downtown{
    font-family:PermanentMarker-Regular;
    font-size:32px;
    opacity:.8;
    color:black;
}
.splatter{
    /*  */
}
.africaSm{
    width:100%;
    height:100%;
}
.img_logo{
    /* border:solid black; */
    height:30%
}
.buttonGalore{
    /* border:solid black; */
    display:flex;
    justify-content: space-around;
    align-items: center;
}